.DS_Store
__pycache__/
.fuse_*
*.png
*.pdf

Icon?

# dropbox
.dropbox
.dropbox.cache/

# Folder
data/
MAVI1/
MAVI2/
Jere_data/
data_both_CL/
original data/
downloaded_dataset_new/
*.idea/
.ipynb_checkpoints/
